@import url('quasar.variables.scss');
@import url('satoshi.css');

// Possible fonts in family:
//font-family: 'Satoshi-Variable';
//font-family: 'Satoshi-VariableItalic';
//font-family: 'Satoshi-Light';
//font-family: 'Satoshi-LightItalic';
//font-family: 'Satoshi-Regular';
//font-family: 'Satoshi-Italic';
//font-family: 'Satoshi-Medium';
//font-family: 'Satoshi-MediumItalic';
//font-family: 'Satoshi-Bold';
//font-family: 'Satoshi-BoldItalic';
//font-family: 'Satoshi-Black';
//font-family: 'Satoshi-BlackItalic';

:root {
    font-family: 'Satoshi-Regular', monospace;
}

.text-regular {
    font-family: 'Satoshi-Regular', monospace;
}

.text-medium {
    font-family: 'Satoshi-Medium', monospace;
}

.text-bold {
    font-family: 'Satoshi-Bold', monospace;
}
