@import url('quasar.variables.scss');
@import url('satoshi.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#q-app {
    font-family: 'Satoshi-Regular', monospace !important;
}

.text-light {
    font-family: 'Satoshi-Light', monospace;
}

.text-regular {
    font-family: 'Satoshi-Regular', monospace;
}

.text-medium {
    font-family: 'Satoshi-Medium', monospace;
}

.text-bold {
    font-family: 'Satoshi-Bold', monospace;
}

.default-inner-icon {
    margin-right: 4px;
}
