@import url('quasar.variables.scss');
@import url('satoshi.css');

body {
    font-family: 'Satoshi-Regular', monospace;
}

.text-light {
    font-family: 'Satoshi-Light', monospace;
}

.text-regular {
    font-family: 'Satoshi-Regular', monospace;
}

.text-medium {
    font-family: 'Satoshi-Medium', monospace;
}

.text-bold {
    font-family: 'Satoshi-Bold', monospace;
}

.default-inner-icon {
    margin-right: 4px;
}
