$background   : #ffffff;
$primary      : #1d322f;
$secondary    : #c4975b;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21ba45;
$negative  : #c10015;
$info      : #31ccec;
$warning   : #f2c037;
