$background   : #FFFFFF;
$primary      : #1D322F;
$secondary    : #C4975B;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
